[submodule "damn-vulnerable-defi"]
	path = damn-vulnerable-defi
	url = https://github.com/ivan-02/damn-vulnerable-defi
[submodule "ethernaut"]
	path = ethernaut
	url = https://github.com/ivan-02/ethernaut
